<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="author" content="Emilio Heitor">
    <meta name="keywords" content="Consulting, Consultoría, Blockchain, Smart Contracts, Bitcoin, Ethereum, Binance Smart Chain, Go, Golang, C, BSD, UNIX, NetBSD, FreeBSD, Cloud Computing, AWS, Amazon Web Services, Google Cloud Platform, GCP, CloudFormation, Terraform, Ansible, git, Jenkins, HashiCorp, Linux, Docker, Docker Compose, DevOps, Python, Kubernetes, k8s">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.12/css/all.css" integrity="sha384-G0fIWCsCzJIMAVNQPfjH08cyYaUtMwjJwqiRKxxE/rx96Uroj1BtIQ6MLJuheaO9" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Comfortaa:wght@500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Kanit:wght@400;600&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="style.css">

    <title>Indalit I.T. Consulting</title>
  </head>
  <body>

    <div class="container" id="indalit">

      <div class="row" id="headline">
        <div class="col-md-12">
          <img src="images/indalit_logo.png"
            data-toggle="tooltip" data-placement="bottom" data-html="true"
            :title="marked.parse(indalittooltip)"
            alt="Indalit Cloud Computing" class="mx-auto d-block" style="width: 15%">
          <p v-html="marked.parse(punchline)"></p>
        </div>
      </div>

      <div class="row" id="techs">
        <div class="col-md-2" v-for="tech in technos">
          <a :href="tech.link"
            data-toggle="tooltip" data-placement="bottom" data-html="true"
            :title="marked.parse(tech.tooltip)">
            <img :src="tech.img" :alt="tech.alt">
            <p>{{tech.alt}}</p>
          </a>
        </div>
      </div>

      <div class="row" id="contact">
        <div class="col-md-12" id="contact">
          <i class="fa fa-angle-down fa-2x"></i><br />
          <a href="mailto:info@indalit.com">
            <img src="images/envelope.png" alt="contact us">
          </a>
        </div>
      </div>

      <div class="footer fixed-bottom">
        <div class="row">
          <div class="col" style="text-align: left">
            <a href="https://gitlab.com/iMil/indalit">
              <i class="fab fa-gitlab"></i>
            </a>
          </div>
          <div class="col">
            <i class="far fa-copyright"></i> 2021 - Indalit
          </div>
        </div>
      </div>

    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="content.js"></script>
  </body>
</html>
