body {
  background-color: white;
  color: #201030;
  font-family: "Comfortaa", cursive;
  font-weight: 500;
  font-size: 0.9em;
}

#headline {
  margin-top: 50px;
}

#headline img {
  margin-bottom: 50px;
}

#headline p {
  margin-bottom: 50px;
  color: #FFBA81;
  font-size: 1.2em;
  font-weight: 700;
  text-align: center;
}

#techs {
  text-align: center;
  border-radius: 15px;
  background-color: #C8F9F9;
}

#techs img {
  margin-top: 30px;
  height: 60px;
  padding: 5px;
  filter: drop-shadow(7px 7px 4px white)
          drop-shadow(-7px -7px 4px white)
          drop-shadow(-7px 7px 4px white)
          drop-shadow(7px -7px 4px white);
}

#techs a {
  color: #285959;
  font-size: 1.1em;
}

#techs a p {
  margin-top: 15px;
  margin-bottom: 20px;
}

#contact {
  font-size: 0.8em;
  margin-top: 20px;
  margin-bottom: 50px;
  text-align: center;
}

#contact img {
  height: 50px;
  padding: 5px;
}

.footer {
  background-color: #343030;
  padding: 5px;
  padding-left: 10px;
  font-size: 0.8em;
  text-align: right;
  color: white;
}

.footer a {
  color: white;
}

.tooltip-inner {
  max-width: 450px;
  text-align:left;
  background-color: #fffefc;
  color: #00070a;
  padding: 15px;
  border-radius: 15px;
  border: 2px solid #ffd47e;
}

.tooltip .arrow:before {
  border-bottom-color: #e6fbfb;
  border-top-color: #e6fbfb;
}
